<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-factory"></i>
                        <span class="hide-menu">Órdenes de Trabajo</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">En Proceso</a></li>
                        <li><a href="javascript:void()">NV pendientes</a></li>
                        <li><a href="javascript:void()">Finalizadas</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-devider"></li> -->
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Reportes
                            <!-- <span class="label label-rouded label-themecolor pull-right">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Minimo</a></li>
                        <li><a href="index2.html">Analítico</a></li>
                        <li><a href="index4.html">Moderno</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-file-multiple"></i>
                        <span class="hide-menu">Tablas
                            <!-- <span class="label label-rouded label-themecolor pull-right">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Máquinas</a></li>
                        <li><a href="index2.html">Operarios</a></li>
                        <li><a href="index4.html">Procesos</a></li>
                        <li><a href="index4.html">Centros</a></li>
                        <li><a href="index4.html">Entidades</a></li>
                        <li><a href="index4.html">Servicios</a></li>
                        <li><a href="index4.html">Usuarios</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->